DATABASE_URL=cannot-be-null
NUXT_SESSION_PASSWORD=random-above-32-characters-password-string-here
NUXT_UMAMI_HOST=can-be-null
NUXT_UMAMI_ID=can-be-null
BLOB_READ_WRITE_TOKEN=
BETTER_AUTH_SECRET=generate-the-secret-on-the-better-auth-website
NUXT_PUBLIC_SITE_URL=https://cyberacme.org
NUXT_RESEND_API_KEY=cannot-be-null
